* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
}

body {
  background-color:  #141414;
}

.flex {
  display: flex;
}

#jsBoolflix {
  background-color: #141414;
}

header {
  height: 68px;
  padding: 0 5%;
  border-bottom: 1px solid red;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: red;
}

header input {
  background-color: #141414;
  border: 1px solid white;
  width: 250px;
  height: 30px;
  margin: 0 20px;
  padding: 0 20px;
  color: white;
  font-size: 20px;
}

::-webkit-input-placeholder {
  color: red;
}

header button {
  background-color: black;
  border: 3px solid red;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 25px;
  font-size: 18px;
} 

main {
  flex-direction: column;
  justify-content: space-around;
}

main h1 {
  margin: 30px 10px;
  font-size: 50px;
  color: red;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  overflow: auto;
  justify-content: flex-start;
}

ul li {
  border: 3px solid red;
  margin: 0 10px;
  /* padding: 10px; */
  border-radius: 5px;
  position: relative;
}

.no-image-found {
  width: 342px;
  height: 513px;
}

.description-menu {
  width: 342px;
  height: 513px;
  padding: 0 20px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
}

.description-menu span{
  color: red;
  font-size: 18px;
}

li:hover .description-menu {
  display: block;
}

h2, h3, h4, h5, span {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}

.description-menu img {
  display: block;
  margin-bottom: 10px;
}

.description-menu i {
  color:darkkhaki;
}

.language-badge {
  width: 30px;
  height: auto;
}

