* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mycontainer {
  background-color: purple;
  border: 3px solid bisque;
  padding: 0 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul li {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
}

.language-badge {
  width: 30px;
  height: auto;
}

