<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <!-- font awesame -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
        <!-- vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <!-- axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- js -->
        <script src="js/script.js"></script>
    </head>
    <body> 
        <div id="jsBoolflix">

            <header class="flex">
                <h1>Boolflix</h1>
                <div>
                    <input v-model="searchInput" type="text" placeholder="Type a movie . . .">
                    <button @click = "searchMovies(), searchTvSeries()" > Search</button>
                </div>
            </header>

            <main class="flex">

                <h1 v-if="moviesArray.length == 0 && tvSeriesArray.length == 0"> Popular Movies : </h1>
                <section v-if="moviesArray.length == 0 && tvSeriesArray.length == 0">
                    <ul class="flex">
                        <li v-for="popularMovie in popularMoviesArray">
                            <img class="no-image-found" v-if="popularMovie.poster_path == null" src="img/thumb.jpeg" alt="">
                            <img v-else :src="imgInput + popularMovie.poster_path" alt="">
                            <div class="description-menu">
                                <h2><span>Title : </span>{{popularMovie.title}}</h2>
                                <h3 v-if="popularMovie.original_title !== popularMovie.title"><span>Original Title :</span> {{popularMovie.original_title}}</h3>
                                <img class="language-badge" v-if="popularMovie.original_language == 'en'" src="img/inghilterra.jpg" alt="">
                                <img class="language-badge" v-else-if="popularMovie.original_language == 'it'" src="img/italia.jpg" alt="">
                                <h4 v-else><span>Language : </span>{{popularMovie.original_language}} </h4>
                                <span>Vote: </span>
                                <i v-for ="(star, starIndex) in 5" :class=" converteTenToFive(popularMovie.vote_average) > starIndex ? 'fas fa-star' : 'far fa-star'"></i>
                                <h5 v-if="popularMovie.overview.length > 0"><span>Overview : </span>{{popularMovie.overview}}</h5>
                                <h5 v-else>No overview at the moment.</h5>
                                <button @click = "displayMoviesActors(popularMovie.id)"> Actors </button>
                                <ul class="actorsBox" v-if="moviesActors.movieId == popularMovie.id">
                                    <li v-for = "movieActor in moviesActors.moviesActorsArray"> {{movieActor.name}}</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </section>

                <h1 v-if="moviesArray.length == 0 && tvSeriesArray.length == 0"> Popular TV-Series : </h1>
                <section v-if="moviesArray.length == 0 && tvSeriesArray.length == 0">
                    <ul class="flex">
                        <li v-for="popularSerie in popularTvSeriesArray">
                            <img class="no-image-found" v-if="popularSerie.poster_path == null" src="img/thumb.jpeg" alt="">
                            <img v-else :src="imgInput + popularSerie.poster_path" alt="">
                            <div class="description-menu">
                                <h2><span>Title: </span>{{popularSerie.title}}</h2>
                                <h3 v-if="popularSerie.original_title !== popularSerie.title"><span>Original Title:</span> {{popularSerie.original_title}}</h3>
                                <img class="language-badge" v-if="popularSerie.original_language == 'en'" src="img/inghilterra.jpg" alt="">
                                <img class="language-badge" v-else-if="popularSerie.original_language == 'it'" src="img/italia.jpg" alt="">
                                <h4 v-else><span>Language: </span>{{popularSerie.original_language}} </h4>
                                <span>Vote: </span>
                                <i v-for ="(star, starIndex) in 5" :class=" converteTenToFive(popularSerie.vote_average) > starIndex ? 'fas fa-star' : 'far fa-star'"></i>
                                <h5 v-if="popularSerie.overview.length > 0"><span>Overview: </span>{{popularSerie.overview}}</h5>
                                <h5 v-else>No overview at the moment.</h5>
                                <button @click = "displaySeriesActors(popularSerie.id)"> Actors </button>
                                <ul class="actorsBox" v-if="seriesActors.serieId == popularSerie.id">
                                    <li v-for = "serieActor in seriesActors.seriesActorsArray"> {{serieActor.name}}</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </section>

                <h1 v-if="moviesArray.length > 0"> Movies : </h1>
                <section>
                    <ul v-if="moviesArray.length > 0" class="flex">
                        <li v-for="movie in moviesArray">
                            <img class="no-image-found" v-if="movie.poster_path == null" src="img/thumb.jpeg" alt="">
                            <img v-else :src="imgInput + movie.poster_path" alt="">
                            <div class="description-menu">
                                <h2><span>Title: </span>{{movie.title}}</h2>
                                <h3 v-if="movie.original_title !== movie.title"><span>Original Title:</span> {{movie.original_title}}</h3>
                                <img class="language-badge" v-if="movie.original_language == 'en'" src="img/inghilterra.jpg" alt="">
                                <img class="language-badge" v-else-if="movie.original_language == 'it'" src="img/italia.jpg" alt="">
                                <h4 v-else><span>Language: </span>{{movie.original_language}} </h4>
                                <span>Vote: </span>
                                <i v-for ="(star, starIndex) in 5" :class=" converteTenToFive(movie.vote_average) > starIndex ? 'fas fa-star' : 'far fa-star'"></i>
                                <h5 v-if="movie.overview.length > 0"><span>Overview: </span>{{movie.overview}}</h5>
                                <h5 v-else>No overview at the moment.</h5>
                                <button @click = "displayMoviesActors(movie.id)"> Actors </button>
                                <ul class="actorsBox" v-if="moviesActors.movieId == movie.id">
                                    <li v-for = "movieActor in moviesActors.moviesActorsArray"> {{movieActor.name}}</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </section>

                <h1 v-if="tvSeriesArray.length > 0"> TV-Series : </h1>
                <section>
                    <ul v-if="tvSeriesArray.length > 0" class="flex">
                        <li v-for="serie in tvSeriesArray">
                            <img class="no-image-found" v-if="serie.poster_path == null" src="img/thumb.jpeg" alt="">
                            <img v-else :src="imgInput + serie.poster_path" alt="">
                            <div class="description-menu">
                                <h2><span>Title: </span> {{serie.name}}</h2>
                                <h3 v-if="serie.original_name !== serie.name"><span>Original Title: </span> {{serie.original_name}}</h3>
                                <img class="language-badge" v-if="serie.original_language == 'en'" src="img/inghilterra.jpg" alt="">
                                <img class="language-badge" v-else-if="serie.original_language == 'it'" src="img/italia.jpg" alt="">
                                <h4 v-else><span>Language: </span> {{serie.original_language}} </h4>
                                <span>Vote:</span>
                                <i v-for ="(star, starIndex) in 5" :class=" converteTenToFive(serie.vote_average) > starIndex ? 'fas fa-star' : 'far fa-star'"></i>
                                <h5 v-if="serie.overview.length > 0"><span>Overview: </span> {{serie.overview}}</h5>
                                <h5 v-else>No overview at the moment.</h5>
                                <button @click = "displaySeriesActors(serie.id)"> Actors </button>
                                <ul class="actorsBox" v-if="seriesActors.serieId == serie.id">
                                    <li v-for = "serieActor in seriesActors.seriesActorsArray"> {{serieActor.name}}</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </section>

            </main>
        </div>
    </body>
</html>
